VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=chess-coach-4b50e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chess-coach-4b50e
VITE_FIREBASE_STORAGE_BUCKET=chess-coach-4b50e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
